/***********************************************************
* Styles Globals
************************************************************/
body{
    background: rgb(225,227,240);
    background: radial-gradient(circle, rgba(225,227,240,1) 0%, rgba(255,191,87,0.08727240896358546) 100%);


    /*background: linear-gradient(#0025,#132135);*/
    /*background-attachment:fixed ;*/
    /*background-position: center center;*/
    /*background-size: cover ;*/

    font-family: 'Hachi Maru Pop', "Times New Roman", cursive;
    text-align: left;
}

/*.container{*/
/*    min-width: 360px;*/
/*    max-width: 1000px;*/
/*    margin: auto;*/
/*    padding: 10px 20px;*/
/*}*/

.header.div{
    align-items: center;
}

a {
    text-decoration: none;

}

a:hover{
    text-decoration: underline;

    cursor:pointer;
}

img{
    max-width: 100%;
}

/*body > .container{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    min-height: 100vh;*/
/*}*/
/***********************************************************
**********
 */
header {
display: flex;
    justify-content: space-between;
    background-color: rgba(192,192, 0.2);
    width: 100%;
}


.site-title{
    display: flex;
    text-align: center;
    font-size: 48px ;
}

.site-title img{
    height: 100px;
    display: block;
    margin-right: 5px;
}


nav ul{
    /*margin: 5px 0;*/
    display: flex;
    list-style: none;
    padding-left: 0;

}

nav a{
    display: block;
    /*padding: 5px 8px;*/
    /*margin-right: 10px;*/
}
/*#titleEni{*/
/*    align-items: center;*/
/*    display: flex;*/
/*}*/

/***********************************************************
* Main
************************************************************/
/*main{*/
/*    padding: 30px 0;*/
/*    border-top: 1px solid #D3D3D3;*/
/*    border-bottom: 1px solid #D3D3D3;*/
/*    min-height: 700px;*/
/*}*/

/*h1{*/
/*    margin:0;*/
/*}*/

/***********************************************************
* Footer
************************************************************/
footer {
    position: absolute; bottom: 0; left: 0; right: 0
}

footer a{
    text-decoration: none;

}
a:hover {
    text-decoration: underline;

    cursor: pointer;
}
/***********************************************************
* Form
************************************************************/
label{
    display: inline;
    justify-content: flex-start;
}
.botton {
    min-width: 10px;
    max-width: 50px;
}
/*}*/
/*.item {*/
/*    flex: 2 1 auto;*/
/*}*/

nav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

table{
width: 100%;
    margin-right: auto;
    margin-left: auto;
}