{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block add %}
    <h2>Créer une sortie</h2>

    {{form_start(sortieForm)}}
    {{form_widget(sortieForm)}}
    <button>Enregistrer</button>
    {{form_end(sortieForm)}}
    </a>
    <a href="{{ path('sortie_accueil')}}"><button>Annuler</button></a>

{% endblock %}



