<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Eni-sorti{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">"


    </head>
    <body>
    <h1>Eni-Sorti - Groupe 1 - Le meilleur</h1>
    {% block nav %}
    <nav class="menu">
        <ul>
            <li><a href={{path('accueil')}}>Accueil</a></li>
            <li><a>Mon profil</a></li>
            <li><a>Se déconnecter</a></li>
        </ul>
    </nav>
    {% endblock %}
        {% block body %}
        {% endblock %}
    </body>
</html>
